<span class = "img_center">
  <%= image_tag("bentasu_logo.jpeg",size: "250x100", alt:"Ben+") %>
  <span class = "loginbutton">
     <%= link_to "ログイン",:controller => "customers",
          :action => "login"  unless current_worker || current_customer %>
     <%= link_to "管理者ログイン",:controller => "workers",
          :action => "login" unless current_worker || current_customer %>
     <% if current_worker %>
     <span class="worker">
     <%= link_to current_worker.name+"さん",:session,method: :delete,data: {confirm: "ログアウトしますか" } %>
     </span>
     <% end %>
     <span class = "customer" %>
     <% if current_customer %>
     <%= link_to current_customer.name+"さん",{:controller => "customers", :action => "history"} ,data: {confirm: "ログアウトしますか？" } %>
     <% end %>
     </span>
  </span>
</span>
