<span class = "img_center">
  <%= image_tag("bentasu_logo.jpeg",size: "250x100", alt:"Ben+") %> 
  <span class = "loginbutton">
     <%= link_to "ログイン",:controller => "customers",
          :action => "login"  unless current_worker || current_customer %>
     <%= link_to "管理者ログイン",:controller => "workers",
          :action => "login" unless current_worker || current_customer %>
     <% if current_worker %>
     <span class="worker">
     <%= link_to current_worker.name+"さん",:session,method: :delete,data: {confirm: "ログアウトしますか" } %>
     </span>
     <% end %>
     <span class = "customer" %>
     <% if current_customer %>
     <%= link_to current_customer.name+"さん",:session_customer,method: :delete,data:{confirm:"ログアウトしますか？"}   %>
     <% end %>
     </span>
  </span>
</span>
<% if current_customer.present? %>
<div class = "menubar">
  <%= menu_link_to "TOP", :root %>
  <%= menu_link_to "注文履歴の確認",:controller => "customers",:action => "history" %>
  <%= menu_link_to "ショッピングカート",:controller => "dishes",:action => "selected" %>
  <%= menu_link_to "アカウント情報",[:edit,current_customer] %>
</div>
<% end %>

<% if current_worker.present? && current_worker.admin == false %>
<div class = "menubar">
  <%= menu_link_to "TOP", :root %>
  <%= menu_link_to "現在の注文を確認",:controller => "orders",:action => "kitchen_index" %>
  <%= menu_link_to "おかず予定数",:controller => "sale_managements",:action => "index" %>
  <%= menu_link_to "おかず一覧",:controller => "dishes",:action => "index" %>
</div>
<% end %>

<% if current_worker.present? && current_worker.admin == true %>
<div class = "menubar">
  <%= menu_link_to "TOP", :root %>
  <%= menu_link_to "注文履歴一覧",:controller => "orders", :action => "index" %>
  <%= menu_link_to "おかず一覧",:controller => "dishes",:action => "index" %>
  <%= menu_link_to "管理者一覧",:controller => "workers", :action => "index" %>
  <%= menu_link_to "顧客一覧",:controller => "customers",:action => "index" %>
</div>
<% end %>
