<div class = "top">
<h1>おかず在庫管理</h1>
<table align="center">
  <tr>

    <th>おかず名</th>
    <th>作成可能数</th>
    <th>作成数</th>
    <th>販売数</th>
  </tr>
  <% @sale.each do |s| %>
  <% @d = Dish.find(s.dish_id) %>
  <tr>
    <td><%= @d.name %></td>
    <td><%= s.planned_number %></td>
    <td><%= s.made_number %></td>
    <td><%= s.sold_number %></td>
    <td><%= link_to "編集" , [:edit,@d,s] %></td>
  </tr>
  <% end %>
</table> 
</div>
