<div class = "top">
<h1><%= current_customer.name %>さんの注文履歴</h1>
<% @yet = 0 %>
<% @comp = 0 %>
<% @histories.each do |history| %> 
  <% if history.status == true %>
    <% @comp = @comp + 1 %>
  <% else %>
    <% @yet = @yet + 1 %>
  <% end %>
<% end %>

<p>準備中の注文：<%= @yet %></p>
<p>完了した注文：<%= @comp %></p>
</div>

<table align="center">
<tr>
  <th>注文時刻</th>
  <th>状況</th>
  <th>注文内容</th>
</tr>
<% @histories.each do |order| %>
<tr>
  <td><%= order.time %></td>
  <td><%= order.status ? "作成完了" : "準備中" %></td>
   <% @boxes = Box.where(order_id:order.id) %>
        <% @boxes.each do |box| %><td>
          <% @dishes = [] %>
          <% @dishes << box.dishes %>
          <% @dishes.each do |d| %>
             <% d.each do |okazu| %>
               <%= okazu.name %><br>
             <% end %>
          <% end %></td>
        
        <% end %>
        
</tr>
<% end %>

</table> 
