<% @page_title = "お弁当を選ぶ" %>
<div class = "top" >
<p>2種類のお弁当箱からお選びください</p>

<span class = "boxkind_table">
<table align="center">
  <tr>
  <% @boxkinds.each do |boxkind| %>
    <td><%= boxkind.name %></td>
  <% end %>
  </tr>
  <tr>
    <td><%= image_tag("box2.png",:size => "288x189") %></td>
    <td><%= image_tag("box3.png",:size => "288x189") %></td>
  <tr>
  <% @box = Box.new(box_kind_id:100)%>
  <%= form_for @box, :url => {:controller => 'boxes',:action => 'create' } do |form| %>
    <td><%= form.radio_button :box_kind_id, 1 %></td> 
    <td><%= form.radio_button :box_kind_id, 2 %></td> 
    <%= form.hidden_field :rice,value: 1 %>
    <%= form.hidden_field :number,value: 1 %>
  </tr>
</table>
  <p><%= form.submit "おかず選択に移る" %></p>
  <% end %>
<span class = "topbutton">
<p><%= link_to "トップページに戻る", :root %> 
</span>

</div>
