<p>おかず一覧ページ</p>

<%= form_tag(dishes_path, :method => 'get' ) do %>
  <%= text_field_tag :search,params[:search] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table>
<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.price %></td>
    <% dish.allergies.order("id").each do |allergy| %>
      <td><%= allergy.name %>・</td>
    <% end %>
    <% unless current_worker.present? %>
      <% if session[:capamax] == false %>
     <td> <%= link_to "選択する",[:select,dish],method: :patch, class: "dishselect" %></td>
      <% end %>
      <% if BoxDish.where(box_id: session[:box_id],dish_id: dish.id).count != 0 %>
      <td><%= link_to "選択解除",[:unselect,dish],method: :patch, class: "dishunselect" %></td>
      <% end %>
    <% else %>
      <td><% @s = SaleManagement.where(dish_id:dish.id).last %><%= @s.planned_number %></td>
      <td><%= link_to "予定数変更","#" %></td>
      <% if current_worker.admin == false %>
      <td><%= link_to "生産ストップ","#" %></td>
      <% end %>
    <% end %>
  </tr>
  </br>
<% end %>
</table>

<%= render "shared/errors", obj: @dish %>
<% if current_worker.present? && current_worker.admin == true %>
<%= form_for @dish ,:url => {:action => 'create'} do  |form| %>
<table class = "attr" >
  <tr>
    <th><%= form.label :name, "料理名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :price, "値段" %></th>
    <td><%= form.text_field :price %></td>
  </tr>
  <tr>
    <th><%= form.label :calorie, "カロリー" %></th>
    <td><%= form.text_field :calorie %></td>
  </tr>
  <tr>
    <td><%= form.label :allergy_ids, "アレルギー" %></td>
    <td><%= form.collection_check_boxes :allergy_ids,Allergy.all,:id,:name %></td>
  </tr>
  
  <tr>
    <th><%= form.label :category, "カテゴリー" %></th>
    <td>
      <%= form.radio_button :category,0 %>
      <%= form.label :category_0, "和食" %>
      <%= form.radio_button :category,1 %>
      <%= form.label :category_1, "洋食" %>
      <%= form.radio_button :category,2 %>
      <%= form.label :category_2, "中華" %>
    </td>
  </tr>
  <%= form.hidden_field :potential, value:true %>
</table>
<p><%= form.submit "登録" %></p>
<% end %>
<% end %>

<% if session[:capamax] == true %>
<p><%= link_to "注文確認画面へ",{:controller => "dishes",:action => "selected"} %></p>
<% end %>

<p><%= session[:box_kind_id] %></p>
<p><%= session[:box_id] %></p>
<p><%= session[:capamax] %></p>
<% @okazu = BoxDish.all %>
<% @okazu.each do |okazu| %>
  <%= okazu.box_id %>　<%= okazu.dish_id %>
<% end %>
