<p>おかず一覧ページ</p>
<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.price %></td>
    <% dish.allergies.order("id").each do |allergy| %>
      <td><%= allergy.name %></td>、
    <% end %>
    <% unless current_worker.present? %>
      <% if session[:capamax] == false %>
      <%= link_to "選択する",[:select,dish],method: :patch, class: "dishselect" %>
      <% end %>
      <% if BoxDish.where(box_id: session[:box_id],dish_id: dish.id).count != 0 %>
      <%= link_to "選択解除",[:unselect,dish],method: :patch, class: "dishunselect" %>
      <% end %>
    <% end %>
  </tr>
  </br>
<% end %>

<% if session[:capamax] == true %>
<p><%= link_to "注文確認画面へ",{:controller => "dishes",:action => "selected"} %></p>
<% end %>

<p><%= session[:box_kind_id] %></p>
<p><%= session[:box_id] %></p>
<p><%= session[:capamax] %></p>
<% @okazu = BoxDish.all %>
<% @okazu.each do |okazu| %>
  <%= okazu.box_id %>　<%= okazu.dish_id %>
<% end %>
