<p>おかず一覧ページ</p>
<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.price %></td>
    <% dish.allergies.order("id").each do |allergy| %>
      <td><%= allergy.name %></td>、
    <% end %>
    <%= link_to "選択する",[:select,dish],method: :patch, class: "dishselect" %>
  </tr>
  </br>
<% end %>
<p><%= session[:box_kind_id] %></p>
<p><%= session[:box_id] %></p>

<% @okazu = BoxDish.all %>
<% @okazu.each do |okazu| %>
  <%= okazu.box_id %>　<%= okazu.dish_id %>
<% end %>
