<div class = "top">
<h1>おかず一覧ページ</h1>

<p><%= render "search_form" %></p>
<% if session[:box_id] != nil %>
  <% @len = session[:box_id].size %>
<% end %>
<% if @dishes.present? %>
<br>
<table align="center">
  <tr>
    <th>おかず名</th>
    <Th>1セットあたりの値段</th>
    <th>アレルギー名</th>
  <tr>
<% @dishes.each do |dish| %>
  <% @sale = dish.sale_management %>
    <td><%= dish.name %></td>
    <td><%= dish.price %>円</td>
    <td><% dish.allergies.order("id").each do |allergy| %>
      <%= allergy.name %>・ 
    <% end %></td>
    <% unless current_worker.present? %>
      <% if session[:capamax] == false %>
     <td> <%= link_to "選択する",[:select,dish],method: :patch, class: "dishselect" %></td>
      <% end %>
      <% if BoxDish.where(box_id: session[:box_id][@len - 1],dish_id: dish.id).count != 0 %>
      <td><%= link_to "選択解除",[:unselect,dish],method: :patch, class: "dishunselect" %></td>
      <% end %>
    <% else %>
      <% if current_worker.admin == false %>
        <% if dish.potential == true %>
        <td><%= link_to "生産ストップ",[:stop,dish],method: :patch ,data: {confirm: "生産ストップしますか？"} %></td>
        <% else %>
        <% unless @sale.sold_number >= @sale.planned_number %>
        <td><%= link_to "生産再開",[:start,dish],method: :patch ,data: {confirm: "生産再開しますか？"} %></td><% end %>
        <% end %>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<br>
<% else %>
  <p>おかずはありません</p>
<% end %>

<% if current_worker.present? && current_worker.admin == true %>
  <%= link_to "おかず新規登録",:new_dish %>
<% end %>



<% if session[:capamax] == true %>
<p><%= link_to "注文確認画面へ",{:controller => "dishes",:action => "selected"} %></p>
<% end %>
</div>
