<% @page_title = "カートの中身" %>
<span class = "top">
<h1><%= @page_title %></h1>
<table align="center">
<% @cnt = 0 %> <% @pricesum = 0 %>
<% if @selectdishes.present? %>
    <% @selectdishes.each do |okazu| %>
    <tr>
      <% @cnt = @cnt + 1 %>
      <th>お弁当<%= @cnt %></th>
      <td>
      <% okazu.each do |d| %>
        <%= d.name %><br>
        <% @pricesum = @pricesum + d.price %>
      <% end %>
      </td>
    </tr>
    <% end %>
    </table>
    <p class="price">合計金額<%= @pricesum %>円</p>
<% else %>
  <p>カートに商品がありません</p>
<% end %>

<% if current_customer.present? %>
  <p><%= link_to "注文を確定する",{ :controller => "orders", :action => "create"}, method: :post %></p>
  <p><%= link_to "お弁当を追加する", :controller => "box_kinds", :action => "index"  %></p>
<% else %>
  <p><%= link_to "注文を確定する",{ :controller => "customers", :action => "login" }  %></p>
  <p><%= link_to "お弁当を追加する",{ :controller => "customers", :action => "login" }  %></p>
<% end %>
</span>
