<div class="top">
<h1>管理者一覧</h1>

<table align="center">
 <tr>
   <th>氏名</th>
   <th>管理者権限</th>
   <th>ユーザ名</th>
 </tr>
 <% @workers.each do |worker| %>
 <tr>
  <td><%= worker.name %></td>
  <td><% if worker.admin == true %>管理者<% else %>キッチン<% end %></td>
  <td><%= worker.username %></td>
 </tr>
 <% end %>
</table>

<h1>新規登録フォーム</h1>
<% @worker = Worker.new() %>
<%= render "shared/errors", obj: @worker %>
<%= form_for @worker, :url => {:action => 'create'} do |form| %>
<table align="center" >
  <tr>
    <th><%= form.label :name, "氏名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <%= form.radio_button :admin,true %>
      <%= form.label :admin_true, "管理者" %>
      <%= form.radio_button :admin,false %>
      <%= form.label :admin_false, "キッチン" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :username, "ユーザ名" %></th>
    <td><%= form.text_field :username %></td>
  </tr>
  <tr>
    <th><%= form.label :password, "パスワード" %></th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation, "パスワード確認" %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
<p><%= form.submit "新規登録" %></p>
<% end %>
