<div class = "top">
<%= render "shared/errors", obj: @worker %>
<h1>新規登録フォーム</h1>
<%= form_for @worker do |form| %>
<table align="center" >
  <tr>
    <th><%= form.label :name, "氏名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <%= form.radio_button :admin,true %>
      <%= form.label :admin_true, "管理者" %>
      <%= form.radio_button :admin,false %>
      <%= form.label :admin_false, "キッチン" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :username, "ユーザ名" %></th>
    <td><%= form.text_field :username %></td>
  </tr>
  <tr>
    <th><%= form.label :password, "パスワード" %></th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation, "パスワード確認" %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
<p><%= form.submit "新規登録" %></p>
<% end %>
</div>